/*RESERT*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

    q:before, q:after, blockquote:before, blockquote:after {
        content: "";
        content: none;
    }

a img {
    border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary 
{
    display: block;
}
*{ box-sizing: border-box;
}
a{
    text-decoration: none;
}
q{
  quotes: "“" "”" "«" "»";
}

html, body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.padre{
    height: 95%;
    width: 97%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
/*Header*/
    .header{
        height: 35%;
        width: 100%;
        background: url(img/fonsm.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
    }
        .menu{
            height: 37%;
            width: 97%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
        }
            .logo{
                height: 80%;
                flex: 1 1 auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
                .logo img{
                    height: 100%;
                }
            .nav{
                height: 80%;
                flex: 6 1 auto;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                align-items: center;
            }
                .agrupa{
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: flex-start;
                    align-items: center;
                }
                    .agrupa li{
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-around;
                        align-items: center;
                    }
                        .nav a{
                            letter-spacing: 0.1em;
                            color: grey;
                        }
                        /*.nav a i{
                        }*/
                        .nav:hover{
                            color:rgb(177, 74, 37);
                        }
            .social{
                height: 80%;
                flex: 1 1 auto;
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: flex-start;
            }
                .social a{
                    height: 100%;
                    flex: 1 1 auto;
                    color: grey;
                    padding: 0 auto;
                }
                .social a:hover{
                    color:rgb(177, 74, 37);
                }
        .texto-principal{
            height: 37%;
            width: 97%;
            background: rgba(0,0,0,.1);
            font-family: 'Times New Roman', Times, serif;
        }    
            h1{
                height: 80%;
                background: black;
            }
/*Section*/
    .section{
        height: 60%;
        width:100%;
        background: black;
        display: flex;
    }
        .articulos{
            height: 80%;
            background: rgb(78, 78, 106);
            display: flex;
            flex-flow: row wrap;
            flex: 2 1 auto;
        }
            .article{
                background: rgb(31, 108, 176);
                flex: 1 1 40%;
            }
            .navegacion{
                background: rgb(112, 163, 196);
                flex: 1 1 100%;
            }
        aside{
            height: 80%;
            background: rgb(247, 63, 82);
            flex: 1 1 auto;
            display: flex;
            flex-flow: column wrap;
        }
            .publicidad{
                background: rgb(254, 234, 133);
            }
/*Footer*/
    footer{
        height: 13%;
        width: 100%;
        background: black;
    }
        .pie{
            height: 80%;
            background: rgb(230, 175, 46);
        }

/*Media*/
@media(max-width: 1025px){
    .header{
        height: 30%;
    }
    .section{
        background: rgb(254, 255, 3);
        height: 52.50%;
    }
        .scentrar{
            height: 86.60%;
            align-content: space-around;
        }
            .articulos{
                height: 50%;
                width: 100%;
            }
                .acentrar{
                    height: 72%;
                }
            aside{
                height: 33.33%;
                width: 100%;
                margin-left: 0%;
            }
                .pcentrar{
                    width: 94%;
                    height: 52%;
                }
                    .ppcentrar{
                    width: 100%;
                    height: 100%;
                    }
    footer{
        height:10.30%;
    }
}
@media(max-width: 599px){
    .hcentrar, .scentrar, .pie{
        width: 86.95%;
    }
    .mcentrar, h1, .acentrar, .pcentrar{
        width: 82.50%;
    }
    .logo, .social{
        width: 19.67%;
    }
    .nav{
        width: 49.18%;
    }
    .article{
        width: 45%;
    }
}