/*RESERT*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
a img {
    border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary 
{
    display: block;
}
*{box-sizing: border-box;
}
a{
    text-decoration: none;
}
q{
  quotes: "“" "”" "«" "»";
}

html, body {
height: 100vh;
width: 100%;
background: rgb(254, 251, 216);
display: grid;
grid-template-columns: 1fr;
justify-items: center;
}
.padre{
    height: 98%;
    width: 98%;
    display: grid;
    grid-template-areas:
        "header"
        "section"
        "footer";
    grid-template-rows: 30.82% 62.55% 4.63%;
    gap: 1%;
}
    .header{
        grid-area: header;
        display: grid;
        grid-template-areas:
            "menu"
            "principal";
        grid-template-rows: 15.39% 84.61%;
    }
        .menu{
            grid-area: menu;
            display: grid;
            grid-template-columns: 10% 70% 20%;
        }
            .logo{
                place-self: center center;
            }
                .logo img{
                    height: 25px;
                    width: 25px;
                }
            .nav{
                display: grid;
                grid-template-columns: repeat(7,1fr);
                color: grey;
            }
                .nav a:hover{
                    color:rgb(177, 74, 37);
                }
                .nav i:hover{
                    color:rgb(177, 74, 37);
                }
                .nav li{
                    justify-self: start;
                    align-self: center;
                    color: grey;
                }
                .nav a{
                    color: grey;
                    margin-left: 10px;
                }
            .social{
                display: grid;
                grid-template-columns: repeat(3,1fr);
            }
                .social a{
                    place-self: center center;
                    color: grey;
                }
                .social a:hover{
                        color:rgb(177, 74, 37);
                }
            .texto-principal{
                grid-area: principal;
                background: url(img/fonsm.jpg);
                background-position: unset;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                font-family: 'Times New Roman', Times, serif;
                display: grid;
                }
                .texto-principal h1{
                    justify-self: center;
                    align-self: center;
                    font-size: 1.7em;
                    color: rgba(245, 107, 130,.7);
                    letter-spacing: 0.10em;
                    text-align: center;
                }
    section{
        grid-area: section;
        display: grid;
        grid-template-columns: 80% 19%;
        gap: 1%;
    }
        .articulos{
            display: grid;
            grid-template-areas:
                "article article"
                "article article"
                "navegacion navegacion";
            grid-template-rows: 45% 45% 10%;
            gap: 1%;
        }
            .article{
                grid-area: article;
            }
                article{
                    display: grid;
                    grid-template-rows: 60% 10% 20% 10%;
                    border: 0.5px solid rgb(247, 63, 82);
                }
                .fechauno{
                        background: url(img/fechauno.jpg);
                        background-size: 100% 100%;
                        display: grid;
                    }
                .fechados{
                        background: url(img/fechados.jpg);
                        background-size: 100% 100%;
                        display: grid;
                    }
                .fechatres{
                        background: url(img/fechatres.jpg);
                        background-size: 100% 100%;
                        display: grid;
                    }
                .fechaquatro{
                        background: url(img/fechaquatro.jpg);
                        background-size: 100% 100%;
                        display: grid;
                    }
                .articulos p{
                    color: white;
                    justify-self: start;
                    align-self: end;
                    padding-left: 2%;
                }
                .tema{
                        background:rgb(247, 63, 82);
                        color:rgb(224,226,228);
                        font-weight:bolder;
                        letter-spacing: 0.1em;
                        line-height: 25px;
                        padding-left: 2%;
                    }
                .texto{
                        padding-left: 2%;
                    }
                .btn{
                        cursor: pointer;
                        color: black;
                        padding-left: 2%;
                    }
            .navegacion{
                grid-area: navegacion;
                background:rgb(247, 63, 82);
                display: grid;
            }
                .navegacion p{
                    color: black;
                    justify-self: center;
                    align-self: center;
                }
    footer{
        grid-area:footer;
    }
